body {
    background-color: #ed9e55;
    color: #FEFBEA;
}

#appTitle {
    text-align: center;
    margin: 0px auto;
    display: block;
    font-family: 'Staatliches', sans-serif;
    font-size: 80px;
}

#genreForm, #cookBtn {
    text-align: center;
    margin: 0px auto;
    display: block;
    font-family: 'Fredoka One', sans-serif;
}



#recipeInfo:after {
    content:  "";
    display:  table;
    clear:  both;
}

#recipeInfo {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

#recipePhoto, #recipeText {
    width: 50%;
    padding: 32px
}

#recipeBottom {
    width: 100%;
}

img#recipePhoto {
    width:  100%;
    height:  auto;
    display:  block;
    margin:  auto;
}

#recipeText {
    font-family: 'Questrial';
    color: #FEFBEA;
    line-height: 1.25;
}

#recipeTitle, #recipeOverview {
    padding:  32px;
}

#cookBtn {
    margin-top: 20px;
    font-size: 25px;
    padding: 7px 10px;
    border-radius: 10px;
    border-style: none;
    background-color: #B97828;
    color: #fdc238;
    cursor:  pointer;
}

label {
    display: block;
    font-size: 35px;
    margin-bottom: 5px;
}



#ingredientList {
    margin-bottom: 20px;
}

#recipeOverview {
    max-width: 800px;
}